body {
    background-color: white;
}
p, h1, h2, h3, h4, h5, h6 {
    color: black;
}
* {
    font-family: "IBM Plex Mono";
}
.center {
    text-align: center;
}
.gt-d {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: linear-gradient(gray,white);
}